<div *ngIf="event" class="container">
  <h1 class="event-heading">Detalji događaja</h1>
  <br>
  <button (click)="goBack()" class="green-button top-right">Natrag</button>
  <div class="event-details">
    <div class="event-detail">
      <strong>Naziv događaja:</strong>
      <span>{{ event.name }}</span>
    </div>
    <div class="event-detail">
      <strong>Opis:</strong>
      <span>{{ event.description }}</span>
    </div>
    <div class="event-detail">
      <strong>Maksimalni broj sudionika:</strong>
      <span>{{ event.maxParticipants }}</span>
    </div>
    <div class="event-detail">
      <strong>Početak prijava:</strong>
      <span>{{ event.registrationsNotBefore | date:'dd.MM.yyyy' }}</span>
    </div>
    <div class="event-detail">
      <strong>Završetak prijava:</strong>
      <span>{{ event.registrationsNotAfter | date:'dd.MM.yyyy' }}</span>
    </div>
    <button (click)="deleteEvent()" class="green-button ">Obriši događaj</button>
    <button (click)="editEvent()" class="green-button">Uredi događaj</button>
    <br>
    <br>
  </div>
  
  <div *ngIf="registrations && registrations.length > 0">
    <br>
    <h2 class="event-heading">Registracije: </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Redni broj</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Email</th>
          <th>Telefon</th>
          <th>Obrazovanje</th>
          <th>Godina</th>
          <th>Sažetak</th>
          <th>Godine iskustva</th>
          <th>Vještine</th>
          <th>Motivacija</th>
          <th>Bodovi</th>
          <th>Id Registracije</th>
          <th>Detalji</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ registration.personal.name.first }}</td>
          <td>{{ registration.personal.name.last }}</td>
          <td>{{ registration.personal.email }}</td>
          <td>{{ registration.personal.phone }}</td>
          <td>{{ registration.personal.education.faculty }}</td>
          <td>{{ registration.personal.education.year }}</td>
          <td>{{ registration.personal.summary }}</td>
          <td>{{ registration.experience.years }}</td>
          <td>{{ registration.experience.skills.join(', ') }}</td>
          <td>{{ registration.motivation }}</td>
          <td>{{ registration.score }}</td>
          <td>{{ registration.registrationId }}</td>
          <td>
            <button (click)="viewRegistrationDetails(registration.registrationId)" class="green-button details-button">Detalji</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="registrations && registrations.length === 0">
    <p class="no-registrations">Nemate nijednu registraciju.</p>
  </div>
  
</div>


<div *ngIf="participants && participants.length > 0" class="participants-container">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="event-heading">Sudionici: </h2>
    <button (click)="inviteParticipants()" class="green-button pull-right">Pozovi sudionike</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Redni broj</th>
        <th>ID</th>
        <th>Email</th>
        <th>Ime</th>
        <th>Godine iskustva</th>
        <th>Obrazovanje</th>
        <th>Motivacija</th>
        <th>Bodovi</th>
        <th>Detalji</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ participant.participantId }}</td>
        <td>{{ participant.personal.email }}</td>
        <td>{{ participant.personal.name.first }} {{ participant.personal.name.last }}</td>
        <td>{{ participant.experience.years }}</td>
        <td>{{ participant.personal.education.faculty }} - {{ participant.personal.education.year }}</td>
        <td>{{ participant.personal.summary }}</td>
        <td>{{ participant.score }}</td>
        <td>
          <button (click)="viewParticipationDetails(participant.participantId)" class="green-button details-button">Detalji</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




