<div class="container">
  <header class="jumbotron">
    <ng-container *ngIf="isLoggedIn">
      <h3>
        <strong>{{ firstname }} {{ lastname }}</strong>
      </h3>
      <p>
        <strong>Id:</strong>
        {{ userid }}
      </p>
      <p>
        <strong>Email:</strong>
        {{ email }}
      </p>
      <p>
        <strong>Username:</strong>
        {{ login }}
      </p>
      <p>
        <strong>Address:</strong>
        {{ address }}
      </p>
      <p>
        <strong>House Number:</strong>
        {{ houseNumber }}
      </p>
      <p>
        <strong>Country:</strong>
        {{ country }}
      </p>
    </ng-container>
    <ng-template #notLoggedIn>
      <div class="alert alert-success">
        Prijavite se da biste vidjeli profil.
      </div>
    </ng-template>
  </header>
  <button (click)="navigateToCreateEvent()">Stvori događaj</button>

<h4>Događaji korisnika:</h4>
  <ul>
    <li *ngFor="let event of userEvents">
      <strong>Naziv događaja:</strong> {{ event.name }}<br>
      <strong>Opis:</strong> {{ event.description }}<br>
      <strong>Maksimalni broj sudionika:</strong> {{ event.maxParticipants }}<br>
      <strong>Početak prijava:</strong> {{ event.registrationsNotBefore | date:'dd.MM.yyyy' }}<br>
      <strong>Završetak prijava:</strong> {{ event.registrationsNotAfter | date:'dd.MM.yyyy' }}<br>
      <!-- Dodajte ostale atribute događaja koje želite prikazati -->
      <button [routerLink]="['/user-event', event.eventId]">Detalji</button>
    </li>
  </ul>
 
</div>
