.eventbox {
    padding: 15px 15px;
   
    background-color: rgb(140, 197, 120);
}

.eventbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(0, 112, 0);
}
.eventbox i{
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 5px;
}
.saznajButton{
    padding: 8px 16px;
    background-color: #d0b661;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.saznajButton:hover {
    background-color: #1e5e0f;
  }


.btn btn-primary{
    color: black;
}
.title {
    color: rgb(128, 106, 27);
    font-size: 22px;
    margin-left: 15px;
    font-weight: bold;
}
/* For active page */
.pagination .page-item.active .page-link {
    background-color: green; 
    color: white;
    border-color: green;
}

.pagination .page-item.disabled .page-link {
    pointer-events: none;
    color: green; 
}


