<div class="container mt-5 mb-4">
<div id="about-1">
    <h1 class="text-center mb-4">O nama</h1>
    <p  class="text-center mb-4">Make it work, make it right, make it fast!</p>
</div>
<div id="about-2">
    <div class="content-box-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-item text-center">
                      <i class="bi bi-signpost-split"></i>
                        <h3>CILJ</h3>
                        <hr>
                        <p>1. Jednostavnija organizacija događaja</p>
                        <p>2. Povezati organizatore i sudionike</p>
                        <p>3. Jednostavna prijava na događaj</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-item text-center">
                        <i class="bi bi-emoji-smile-upside-down"></i>
                        <h3>Za vas</h3>
                        <hr>
                        <p> Hvala na povjerenju!</p>
                        <p> Za sva pitanja ili kritike, slobodno nam se obratite putem maila, telefonom ili dolaskom osobno u naš ured.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-item text-center">
                        <i class="bi bi-chat-square-heart"></i>
                        <h3>KONTAKT</h3>
                        <hr>
                        <p>email: eventmanager@gmail.com</p>
                        <p>telefon: 099 121 1211</p>
                        <p>adresa: Ulica braće Radića 121, Osijek </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>